version: 1
accounts:
- name: alice
  coins:
  - 20000token
  - 200000000stake
- name: bob
  coins:
  - 10000token
  - 100000000stake
validators:
- name: alice
  bonded: 100000000stake
client:
  openapi:
    path: "docs/static/openapi.yml"
  typescript:
    path: "ts-client"
  vuex:
    path: "vue/src/store"
faucet:
  name: bob
  coins:
  - 5token
  - 100000stake
genesis:
  app_state:
    keyshare:
      params:
        trusted_addresses: ["fairy1yudcuejnt2knsxu0kqc8jzt9nc6t9rs7ujcsg8"]
        key_expiry: 200
