[global]
log_level = 'info'
[mode.clients]
enabled = true
refresh = true
misbehaviour = true

[mode.connections]
enabled = false

[mode.channels]
enabled = false

[mode.packets]
enabled = true
clear_interval = 100
clear_on_start = true
tx_confirmation = false

[rest]
enabled = false
host = '127.0.0.1'
port = 3000

[telemetry]
enabled = false
host = '127.0.0.1'
port = 3001

[[chains]]
id = 'fairyring_test_1'
type = 'CosmosSdk'
rpc_addr = 'http://0.0.0.0:16657'
websocket_addr = 'ws://0.0.0.0:16657/websocket'
grpc_addr = 'http://0.0.0.0:9090'
rpc_timeout = '10s'
account_prefix = 'fairy'
key_name = 'ak'
store_prefix = 'ibc'
default_gas = 100000
max_gas = 400000
gas_multiplier = 1.1
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '5s'
max_block_time = '30s'
memo_prefix = ''
sequential_batch_tx = false

[chains.trust_threshold]
numerator = '1'
denominator = '3'

[chains.gas_price]
price = 1
denom = 'frt'

[chains.address_type]
derivation = 'cosmos'


[[chains]]
id = 'fairyring_test_2'
type = 'CosmosSdk'
rpc_addr = 'http://0.0.0.0:26657'
websocket_addr = 'ws://0.0.0.0:26657/websocket'
grpc_addr = 'http://0.0.0.0:9092'
rpc_timeout = '10s'
account_prefix = 'fairy'
key_name = 'fk'
store_prefix = 'ibc'
default_gas = 100000
max_gas = 400000
gas_multiplier = 1.1
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '5s'
max_block_time = '30s'
memo_prefix = ''
sequential_batch_tx = false

[chains.trust_threshold]
numerator = '1'
denominator = '3'

[chains.gas_price]
price = 1
denom = 'frt'

[chains.address_type]
derivation = 'cosmos'